@use "../../scss/variables";
@use "../../scss/mixins";

.menu-container{
    @include mixins.background();

    .menu-wrapper {
        @include mixins.wrapper(#ffffff99);

        .menu-options {
            display: flex;
            flex-direction: column;

            select, input, .play-btn {
                border-radius: 1rem;
                padding: .5rem 1rem;
                font-size: 1.2rem;
                border: none;
                margin-bottom: 1rem;
            }
        
            label {
                margin-bottom: .3rem;
                font-size: 1.2rem;
            }
        
            .play-btn {
                margin-top: 1rem;
                @include mixins.button();
            }
        }
    }  
}

@media (max-width: 768px) {
    .menu-container {
        .menu-wrapper {
            padding: 2rem;
            width: 80%;
        }
    }
}