@use "../../scss/variables.scss";

.question {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .alternatives {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .alternative {
            background: #fff;
            padding: 0.5rem 1rem;
            border-radius: 1rem;
            cursor: pointer;    
            &:hover {
                background: #ffffff70;
            }
        }

        .is-selected {
            background: variables.$primary-color;
            outline: 2px solid #000;
            &:hover {
                background: variables.$dark-primary-color;
            }
        }

        .is-correct {
            outline: 2px solid #000;
            cursor: default;
            background: #95ea90;
            transition: .1s;
            &:hover {
                background: #95ea90;
            }
        }

        .is-wrong {
            outline: 2px solid #000;
            cursor: default;
            background: #ea9595;
            transition: .1s;
            &:hover {
                background: #ea9595;
            }
        }
        
        .is-confirmed {
            cursor: default !important;
            &:hover {
                background: #fff;
            }
        }
    }
}