@use "./variables";

@mixin background() {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: variables.$main-bg-color;
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin wrapper($backgroundColor: #fff) {
    padding: 3rem;
    background: $backgroundColor;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}